@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

.sieveParentDiv {
  width: 40%;
  position: fixed;
  bottom: 14px;
  left: 14px;
  z-index: 99999;
  opacity: 95%;
}

.sieveDiv {
  background-color: #e5e7eb;
  border-color: #d1d5db;
  border-width: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 26px;
  margin-bottom: 8px;
}

.sieveTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 12px;
}

.sieveSubDiv {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 3px;
}

.sieveSubDiv:last-child {
  margin-bottom: 0;
}

.sieveSubDivText {
  font-size: 14px;
  white-space: nowrap;
  color: #374151;
  margin-right: 4px;
}

.sieveDropdown {
  display: block;
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: background-color 0.2s;
}

.sieveDropdown:hover {
  background-color: #d1d5db;
}

.sieveInput {
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: background-color 0.2s;
}

.sieveInput:hover {
  background-color: #d1d5db;
}

.sieveSaveButton {
  background-color: transparent;
  border-color: #9ca3af;
  border-width: 2px;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  float: right;
  margin-top: 12px;
  transition: background-color 0.2s;
}

.sieveSaveButton:hover {
  background-color: #d1d5db;
}

.sieveSaveButton:active {
  background-color: #9ca3af;
  border-color: #9ca3af;
}

.sieveButton {
  background-color: #fef08a;
  border-color: #eab308;
  border-width: 2px;
  border-radius: 99px;
  padding: 20px;
  font-size: 16px;
  float: left;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sieveButton:hover {
  background-color: #fde047;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.sieveButton:active {
  background-color: #facc15;
  box-shadow: none;
}

.sieveLexendDeca {
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 800px) {
  .sieveParentDiv {
    width: 95%;
  }
}
